<table>
  <tr>
    <th style="width: 120px">Learning Events</th>
    <th>
      <div>
        <span class="learningactivities">Learning<br>Activities</span>
        <span style="margin-left: 6.5em">Indicators</span>
      </div>
    </th>
  </tr>

  <!-- for loop for learning events -->
  <tr *ngFor="let learningEvents of data">
    <td class="leraningevents">
      {{ learningEvents.name }}
    </td>
    <td>
      <table class="w-100">
        <tr class="activities" *ngFor="let LearningActivities of learningEvents.activities">
          <td class="learningactivities">
            {{ LearningActivities.name }}
          </td>
          <td>
            <table class="w-100">
              <tr *ngFor="let indic of LearningActivities.indicators" class="indicator">
                <td [ngClass]="{'w-50': searchMat}" style="min-width: 730px">
                  <div class="indicator-content">
                    <input *ngIf="indic" class="step4" #indicatorCheckbox type="checkbox"
                           [checked]="checkedMap.get(indic._id)"
                           (click)="onCheckboxChange(indic)"/>
                    <div class="indicator-text">
                      <a class="sortable stepViewMetrics" (click)="getMetericsEmitter.emit(indic)">
                        <span [innerHTML]="getFullIndicatorName(indic) | sanitizeHtml: searchInd">
                        </span>
                      </a>
                      <div>
                          <a class="sortable reference-icon stepReference" (click)="navigateToReferenceLink(indic)">
                              <i class="fa fa-quote-right"></i>
                          </a>
                          <a class="sortable reference-icon stepReference" (click)="onVerdictEmitter.emit(indic)">
                              <img style="height: 14px" src="assets/images/verdictHammer.png"/>
                          </a>
                      <a class="sortable review-icon stepReview" (click)="onReviewEmitter.emit(indic)">
                        <i class="fa fa-star-o"></i>
                      </a>

                      <a *ngIf="loggedIn?.superAdmin" class="superAdmin-icon edit" (click)="editAsSuperAdmin(indic)">
                        <i class="fa fa-pencil"></i>
                      </a>
                      <a *ngIf="loggedIn?.superAdmin" class="superAdmin-icon delete"
                         (click)="deleteAsSuperAdmin(indic)">
                        <i class="fa fa-trash"></i>
                      </a>
                      </div>
                    </div>
                  </div>
                </td>
                <td *ngIf="searchMat" class="w-50">
                  <a class="sortable">
                        <span [innerHTML]="indic.metrics | sanitizeHtml: searchMat">
                          {{ indic.metrics }}
                        </span>
                  </a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
